In [ ]:
import numpy as np

x = np.array([[1, 2, 3], [4, 5, 6]])
print("x:\n{}".format(x))

In [ ]:
from scipy import sparse

#Create a 2D NumPy array with a diag of ones, and zeros everywhere else
eye = np.eye(4)
print("Numpy array:\n{}".format(eye))

In [ ]:
# Convert the NumPy array to a SciPy sparce matrix in CSR format
# Only the nonzero entries are stored

sparse_matrix = sparse.csr_matrix(eye)
print("\n SciPy sparse CSR matris:\n{}".format(sparse_matrix))

In [ ]:
data = np.ones(4)
row_indices = np.arange(4)
col_indices = np.arange(4)
eye_coo = sparse.coo_matrix((data, (row_indices, col_indices)))
print("COO representation:\n{}".format(eye_coo))

## MATPLOTLIB

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Generate a sequence of numbers from -10 to 10 with 100 steps in between
x = np.linspace(-10, 10, 100)

# Create a second array using sine
y = np.sin(x)

#The plot function makes a line chart of one array against the other
plt.plot(x, y, marker="x")

## PANDAS

In [18]:
import pandas as pd
from IPython.display import display 

#create a simple dataset of people

data = {'Name' : ["John", "Anna", "Asen", "Peter"],
        'Location' : ["New York", "Ljubjana", "Sofia", "London"],
        'Age' : [24, 13, 53, 33] 
       }

data_pandas = pd.DataFrame(data)

display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna  Ljubjana   13
2   Asen     Sofia   53
3  Peter    London   33

In [16]:
#Select all rows that have an age column greater than 30
## After check
display(data_pandas[data_pandas.Age > 30])

    Name Location  Age
2   Asen    Sofia   53
3  Peter   London   33

# Main imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
from IPython.display import dis

We also assume that you will run the code in a Jupyter Notebook
with the %matplotlib notebook or %matplotlib inline magic
enabled to show plots. If you are not using the notebook or these
magic commands, you will have to call plt.show to actually show
any of the figures.play

In [28]:
import sys
print("Python version: {}".format(sys.version))
import pandas as pd
print("pandas version: {}".format(pd.__version__))

import matplotlib
print("matplotlib version: {}".format(matplotlib.__version__))
import numpy as np
print("NumPy version: {}".format(np.__version__))
import scipy as sp
print("SciPy version: {}".format(sp.__version__))
import IPython
print("IPython version: {}".format(IPython.__version__))
import sklearn
print("scikit-learn version: {}".format(sklearn.__version__))

Python version: 3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
pandas version: 2.2.2
matplotlib version: 3.8.4
NumPy version: 1.26.4
SciPy version: 1.13.1
IPython version: 8.25.0
scikit-learn version: 1.4.2